<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logoContainer">
      <img src="./assets/img/logo.png">
    </div>


    <ul class="menu-items">
      <li routerLink="/user"><span class="material-icons">
          account_circle
        </span>
        User
      </li>
      <li routerLink="/dashboard"><span class="material-icons">
          fact_check
        </span>
        Dashboard</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <p>
      <mat-toolbar>
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
          <mat-icon class="menuBtn">menu</mat-icon>
        </button>
        <span> &nbsp; Simple CRM</span>
      </mat-toolbar>
    </p>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>



  </div>

</mat-drawer-container>