<mat-card>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.customIdName]">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
        </tr>
    </table>
</mat-card>
<div class="add-user-btn">
    <button (click)="openDialog()" mat-raised-button #tooltip="matTooltip" matTooltip="Add new User"
        matTooltipHideDelay="100000" mat-fab color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>add</mat-icon>
    </button>
</div>